[Container]
Image=quay.io/cockpit/ws:latest
ContainerName=cockpit
Network=host
Volume=/var/run/dbus:/var/run/dbus
Volume=/:/host
Environment=COCKPIT_PORT=9090
User=0
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target