[Unit]
Description=Podman - Nextcloud service
Requires=mysql.service
ConditionPathExists=/var/apps/nextcloud

[Container]
Image=docker.io/library/nextcloud:latest
AutoUpdate=registry
EnvironmentFile=/var/apps/nextcloud.env
PodmanArgs=-p 8080:80 -v /var/apps/nextcloud:/var/www/html:Z
Label=io.containers.autoupdate=image

[Service]
User=docs

[Install]
WantedBy=default.target
