[Unit]
Description=Podman - Steam Remote Play
ConditionPathExists=/var/games/steam/data
ConditionPathExists=/var/games/steam/local

[Container]
Image=ghcr.io/noobping/steamamd:latest
AutoUpdate=registry
RunInit=true
NoNewPrivileges=true
SeccompProfile=unconfined
SecurityLabelDisable=true
Tmpfs=/run
Tmpfs=/tmp
ShmSize=8g
AddDevice=/dev/dri
Volume=/var/apps/steam/data:/data/.steam:Z
Volume=/var/apps/steam/local:/data/.local/share/Steam:Z
PublishPort=5900:5900/tcp
PublishPort=27031-27036:27031-27036/udp
PublishPort=27036:27036/tcp

[Service]
User=steam
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
