[Unit]
Description=Allow Cockpit in firewalld
After=firewalld.service
Requires=firewalld.service

[Service]
Type=oneshot
ExecStart=/usr/bin/firewall-cmd --permanent --add-port=9090/tcp
ExecStart=/usr/bin/firewall-cmd --reload

[Install]
WantedBy=multi-user.target