[Unit]
Description=Open firewall port 9090 for Cockpit
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'command -v firewall-cmd >/dev/null && firewall-cmd --permanent --add-port=9090/tcp || true'
ExecStart=/usr/bin/bash -c 'command -v firewall-cmd >/dev/null && firewall-cmd --reload || true'

[Install]
WantedBy=multi-user.target